  /****************/
 /*   blogs.css  */
/****************/

#archive {
  max-width: 1500px;
 	width: 95%;
 	position: relative;
 	margin: 0 auto;
}

.spanlink {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	z-index: 2;	
}

 .title {
 	font-size: 24pt;
 }

 .text {
 	font-size: 14pt;
 }

 .push {
 	clear: both;
 }

 .text ul {
	list-style: disc;
	list-style-position: inside;
	margin-left: 32px;
}

.text ol {
	list-style: upper-roman;
	list-style-position: inside;
	margin-left: 32px
}

.text em {
	font-style: italic;
}

.text strong {
	font-weight: bold;
}

.text blockquote {
	background: #F0F1F4;
	border-left: 7px solid #64688B;
	padding: 3px;
	margin: 3px;
}

   /******************/
  /*      Main      */
 /******************/

#main {
 	border: solid 1px black;
 	padding: 2%;
 	float: left;
 	width: 70%;	
}

 .entry {
  border: solid 1px black;
 	position: relative;
 	margin: 12px auto;
 	width: 75%;
 }

   /******************/
  /*    Sidebar     */
 /******************/

  #sidebar-right {
 	border: solid 1px black;
 	padding: 1%;
 	float: right;
  width: 22%;
 }

 .sidebar-unit {
	 margin-bottom: 3%;
	 padding: 4px;
 	 border: solid 1px black;
 }

   /******************/
  /*   Categories   */
 /******************/

#category-page {
	
}

.category {
	position: relative;
	border: solid 1px black;
	margin: 4px;
	width: 49%;
	float: left;
	
}

.category-title {
	
}

   /******************/
  /*   Menu         */
 /******************/

.menu-post {
	position: relative;
	border: solid 1px black;
	margin: 4px;
	width: 49%;
	float: left;	
}

.menu-post-name {
}