  /********************/
 /*    Comments.css  */
/********************/

#comments {
  border: solid 1px;
  border-radius: 10px;
  padding: 12px;
}

#comments .comment-header {
  font-size: 14pt;
  line-height: 150%;
  padding: 0px 8px 8px;
}

#comments .comment-list {
}

#comments .comment {
}

#comments .comment p {
  padding: 8px;
  margin-left: 24px;
}

#comments .comment-awaiting-moderation {
  padding: 8px;
}

#comments .reply {
  text-align: right;
  font-weight: bold;
  padding: 8px;
  
}

#comments .comment > .comment {
  border-left: solid 1px #aaa;
  margin-left: 8px;
}

#comments .even {
  background-color: white;
}

#comments .odd {
}

#comments .comment-author {
  font-weight: bold;
  padding: 8px;
}

#comments #respond {
  padding: 8px;
}

#comments .comment-meta {
  padding: 8px;
}

#comments #reply-title {
}

#commentform {
  padding: 8px;
  
}

#commentform .logged-in-as {
  padding-bottom: 8px;
}

#commentform .author-field, #commentform .email-field, #commentform .url-field, #commentform .comment-textarea {
  padding-top: 8px;
}

#commentform .form-submit {
  padding-top: 8px;
}

#comments textarea, #comments input {
  box-sizing: border-box;
  resize: none;
  width: 100%;
  max-width: 400px;
}

#commentform #submit {
  border: solid 1px black;
  border-radius: 10px;
  line-height: 150%;
  font-size: 14pt;
  width: 150px;
}

#comments textarea {
  height: 200px;
}
