
/*********** NAV FORMATTING *************/
#combo {
    background-color:#fff;
    opacity: 0;
}

nav {
    position: absolute;
    top:0px;
    width:100%;
}

nav img {
    display:block;
    float:left;
}
nav ul {
    float:right;
    margin-top:113px;
}
nav li {
    display:inline-block;
    margin-right:15px;

}
nav li a {
    font-family:'Crafty Girls', 'Indie Flower',cursive;
    color:white;
    font-size:30px;
    text-decoration: none;
    text-shadow: 3px 3px #000;
}


@media (max-width:1057px) {
    nav img {
        width:150px;
        height:auto;
    }
}

@media (max-width:967px) {
    nav img {
        float:none;
        width:150px;
        height:auto;
    }
    nav ul {
        float:none;
        margin-top:20px;
        text-align: center;
    }

}
@media (max-width:841px) {
    nav img {
        float:none;
        width:150px;
        height:auto;
    }
    nav ul {
        float:none;
        margin-top:20px;
        text-align: center;
    }
    nav li a {
        font-size:24px;
    }
}

#sub_nav {
    position:absolute;
    top:0px;
    background-color:white;
/*     padding: 1px; */
    width: 300px;
    -webkit-box-shadow: 12px 4px 29px 0px rgba(50, 50, 50, 0.72);
    -moz-box-shadow:    12px 4px 29px 0px rgba(50, 50, 50, 0.72);
    box-shadow:         12px 4px 29px 0px rgba(50, 50, 50, 0.72);
    display:none;
    z-index: 2;
    font-family: 'Bitter',serif;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
#sub_nav li:not(last-child) {
    padding:2px 0;
    border-bottom: 1px solid lightgray;
}

#sub_nav ul li {
    padding-top:3px;
    padding-left:3px;
}
#sub_nav a {
    color:#555;
    text-decoration: none;
}

#sub_nav .graphic {
    float:left;
    color:white;
    height:75px;
    width:75px;
    border: 3px solid white;
    margin-right:5px;
    text-align: center;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
#texas_city_location .graphic {
    background-color:#B8C92B;
    padding-top:20px;
    height:55px;
}
#texas_city_location:hover {
    background-color: #B8C92B;
-webkit-border-radius: 10px 10px 0 0;
-moz-border-radius: 10px 10px 0 0;
border-radius: 10px 10px 0 0;
}
#pearland_location .graphic {
    background-color:#00B2D0;
    padding-top:28px;
    height:48px;
}
#pearland_location:hover {
    background-color: #00B2D0;
}

#seabrook_location .graphic {
    background-color:#F3B604;
    padding-top:28px;
    height:48px;
}
#seabrook_location:hover {
    background-color: #F3B604;
-webkit-border-radius: 0 0 10px 10px;
-moz-border-radius: 0 0 10px 10px;
border-radius: 0 0 10px 10px;
}
#sub_nav .graphic img {
    height:100%;
    width:100%;
}
#sub_nav .sub_nav_text_container {
    font-family: 'Lato',Arial,sans-serif;
    font-weight:300;
}
#sub_nav .sub_nav_text_container h1 {
    position:inherit;
    font-size:20px;
    font-weight:400;
    letter-spacing: 2px;
    color:#d76051;
}