/************* FOOTER FORMATTING *************/



footer {
 padding: 20px 0;
 background-color:#F3B604;
 color:white;
 font-family: 'Bitter',serif;
}
footer a {
 text-decoration: none;
 color:#555;
}
#footer_social_links {
 text-align: center;

}
#footer_links {
 padding: 20px 0;
 border-bottom: 1px solid #999;
}
#footer_links li {
 display:inline-block;
 width: 19%;
 text-align: center;
}
#footer_locations {
 padding-top: 20px;
}
#footer_locations li {
 display:inline-block;
 width: 32%;
 text-align: center;
}
#footer_social_links li {
 display:inline-block;
}

.social_icon img {
 height:36px;
 width:auto;
}
#smart_signature {
 text-align: center;
 margin: 30px 0;
}
#smart_signature a {
 text-decoration: underline;
}
#copyright {
 font-size:12px;
 text-align: center;
 margin-bottom:10px;
}

@media (max-width:396px) {
 #footer_locations ul {
  text-align:center;
 }
 #footer_locations li {
  display:block;
  width:inherit;
  margin-bottom: 20px;
 }
}