/*           FRONT PAGE            */
body {
/*    position:relative;*/
}
.push {clear:both;
    font-size: 1px;
}

.one {
    padding: 140px 0;
    background-color:#fff;
}


/*********** PARALLAX FORMATTING *************/
.parallax-container {
    height:500px;
    width:100%;
}





/*********** HEADER FORMATTING *************/
#header {
    background-color:#00B2D0;
    padding: 20px;
    
}
#header_graphic_container {
    height:750px;
    width:750px;
    position: relative;
    border: 10px solid white;
    float:left;
}

#header_graphic_container img {
    height:100%;
    width:100%;
    position:absolute;
    top:0px;
}

#header_text_container {
    text-align: center;
    margin-top:140px;
}
#header_text_container h1{
    font-family: 'Bitter',serif;
    font-size:64px;
    color:white;
}
#header_text_container h2{
    font-family: 'Crafty Girls',serif;
    font-size:1px;
    color:white;
    margin-top:40px;
    display:none;
}

#header_text_container h3 {
    font-family:'Open Sans','Bitter',serif;
    font-size:34px;
    color:white;
    margin-top:140px;
    line-height: 150%;
    display:none;
}
#kjm_img_gallery {
    display:none;
}

#header_location_container {
    clear:both;
    text-align: center;
    padding-top:15px;
    font-family: 'Bitter',serif;
    font-size: 28px;
}
#header_location_container .location {
    width:30%;
    text-align: center;
}
#header_location_container .location_separator {
    width:4%;
    text-align: center;
}
#header_location_container li {
/*    display:inline-block;*/
    float:left;
}

#header_location_container li a {
    color:white;
    text-decoration: none;
}

@media (min-width:1248px) and (max-width:1563px) {
    #header_graphic_container { 
        height:500px;
        width:500px;
    }
    #header_text_container {
        margin-top:10px;
    }
}

@media (min-width:897px) and (max-width:1248px) {
    #header_graphic_container { 
        height:400px;
        width:400px;
    }
    #header_text_container {
        margin-top:10px;
    }
    #header_text_container h2 {
        margin-top:20px
    }
    #header_text_container h3 {
        margin-top: 30px;
        font-size: 26px;
    }
}
@media (min-width:618px) and (max-width:897px) {
    #header_graphic_container { 
        height:250px;
        width:250px;
    }
    #header_text_container {
        margin-top:10px;
    }
    #header_text_container h1 {
        font-size:38px;
    }
    #header_text_container h2 {
        margin-top:20px
    }
    #header_text_container h3 {
        margin-top: 30px;
        font-size: 20px;
        line-height: 110%;
    }
}
@media (max-width:618px) {
    #header {
        padding: 10px;
    }
    #header_graphic_container { 
        float:none;
        height:250px;
        width:250px;
        display: block;
        margin: 0 auto;
        border: 2px solid white;
    }
    #header_text_container {
        margin-top:10px;
    }
    #header_text_container h1 {
        font-size:38px;
    }
    #header_text_container h2 {
        margin-top:20px
    }
    #header_text_container h3 {
        margin-top: 10px;
        font-size: 20px;
        line-height: 110%;
    }
    #header_location_container {
    font-size:18px;
    }

}


/****** SEC 01 *********/
#sec01 {
    height:auto;
    padding:80px 0;
    border-top: 5px solid white;
}

#sec01 .innerband {
    width:100%;
}
#sec01 .content_outer_box {
    background-color:#B8C92B;
    width:23%;
    padding:.5%;
    float:left;
    margin:0 .5%;
}
#sec01 img {
    width:100%;
    height:auto;
}

#sec01 h1 {
    font-family: 'Bitter',serif;
    font-size: 21px;
    text-align: center;
    color:white;
    margin: 5px 0;
    
}

@media (min-width:436px) and (max-width:1000px) {
    #sec01 .content_outer_box {
        width:48%;
        padding:.5%;
        margin:5px .5%;
    }
}
@media (max-width:436px) {
    #sec01 {
        padding: 10px 0;
    }
    #sec01 .content_outer_box {
        width:90%;
        float:none;
        margin:5px auto;
    }
}





/****** SEC 02 *********/
#sec02 {
    padding:40px 0;
    height:auto;
    border-top: 5px solid #00B2D0;
    border-bottom: 5px solid #00B2D0;
    background-image: url("../images/brothers_back.jpg");
    background-size: cover;
}

#sec02 .graphic_container {
    float:left;
    width:49%;
}
#sec02 .graphic_container img {
    height: 100%;
    width:100%;
    display: block;
-webkit-box-shadow: 4px 0px 34px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 0px 34px 0px rgba(0,0,0,0.75);
box-shadow: 4px 0px 34px 0px rgba(0,0,0,0.75);
}
#sec02 .text_container {
    float:right;
    width:49%;
   padding-right:1%;
    text-align: right;
}
#sec02 h1 {
    font-family: 'Bitter',serif;
    font-size:48px;
    color:#00B2D0;
}
#sec02 p {
    font-family: 'Open Sans';
    line-height: 150%;
    font-size: 24px;
}

@media (min-width:636px) and (max-width:901px) {
    #sec02 h1 {
        font-size:28px;
    }
    #sec02 p {
        line-height: 120%;
        font-size: 20px;
    }
}
@media (min-width:557px) and (max-width:636px) {
    #sec02 h1 {
        font-size:24px;
    }
    #sec02 p {
        line-height: 110%;
        font-size: 18px;
    }
}

@media (max-width:557px) {
    #sec02 .graphic_container {
        float:none;
        width:80%;
        margin:0 auto;
    }
    #sec02 .text_container {
        float:none;
        width:80%;
        text-align: center;
        margin: 30px auto 0;
    }
    #sec02 h1 {
        font-size:28px;
    }
    #sec02 p {
        line-height: 120%;
        font-size: 20px;
    }
}










/****** SEC 03 *********/
#sec03 {
    padding:inherit;
    height:auto;
}
#sec03 .innerband {
    border-top: 5px solid #F3B604;
    border-bottom: 5px solid #F3B604;
    padding:40px 0;
    background-image:url(../images/fresh_ingredients_back.jpg);
    background-size: contain;
}
#sec03 .text_container {
    float:left;
    width:48%;
    padding-left:1%;
    text-align: left;
}
#quote_open{
    float:left;
}
#quote_close {
    float:right;
}
#sec03 h1 {
    float:left;
    font-family: 'Open Sans', sans-serif;
    font-size:48px;
    text-align: center;
}
.quote {
    height:48px;
    width:auto;
}

#sec03 .graphic_container {
    float:right;
    width:49%;
}
#sec03 .graphic_container img {
    height: 100%;
    width:100%;
    display: block;
-webkit-box-shadow: 4px 0px 34px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 0px 34px 0px rgba(0,0,0,0.75);
box-shadow: 4px 0px 34px 0px rgba(0,0,0,0.75);
}
 
@media(min-width:786px) and (max-width:1000px) {
    #sec03 h1 {
        font-size:36px;
    }
}
@media(min-width:557px) and (max-width:786px) {
    #sec03 h1 {
        font-size:32px;
    }
    #sec03 .quote {
        height: 24px;
    }
}
@media(max-width:557px) {
    #sec03 .graphic_container {
        float:none;
        width:80%;
        margin:0 auto;
    }
    #sec03 .text_container {
        float:none;
        width:80%;
        text-align: center;
        margin: 30px auto 0;
    }
    #sec03 h1 {
        font-size:28px;
    }
    #sec03 .quote {
        display:none;
    }
    
}













/****** SEC 04 *********/
#sec04 .innerband {
    background-color:#444;
    height:510px;
    padding: 40px 0;
}

#sec04 .innerband h1 {
    text-align: center;
}
#locations_container {
    position: relative;
    display:block;
    margin:0 auto;
    width: 1000px;
    height:530px;
}

#sec04 .location_holder {
    height:180px;
    width:450px;
    font-family:'Bitter',serif;
    color:white;
    font-size:64px;
    position:absolute;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
    text-align: center;
    padding-top:120px;
    border: 5px solid #fff;
    text-decoration: none;
}
#sec04 .location_holder:nth-child(1) {
    background-color:#B8C92B;
}
#sec04 .location_holder:nth-child(2) {
    background-color:#00B2D0;
    top:215px;
    left: 175px;
}
#sec04 .location_holder:nth-child(3) {
    background-color:#F3B604;
    top:30px;
    left: 532px;
}

@media (min-width:800px) and (max-width:1000px) {
    #locations_container {
        width:800px;
    }
    #sec04 .location_holder {
        width:338px;
    }
    #sec04 .location_holder:nth-child(3) {
        left:inherit;
        right:5px;
    }
    
}

@media (min-width:600px) and (max-width:800px) {
    #locations_container {
        width:600px;
    }
    #sec04 .location_holder {
        width:228px;
        height: 120px;
        font-size:40px;
        padding-top: 80px;
        
    }
    #sec04 .location_holder:nth-child(2) {
        top:138px;
        left: 175px;
    }

    #sec04 .location_holder:nth-child(3) {
        left:inherit;
        top:269px;
        right:12px;
    }
    
}

@media (min-width:400px) and (max-width:600px) {
    #locations_container {
        width:400px;
    }
    #sec04 .location_holder {
        width:228px;
        height: 120px;
        font-size:40px;
        padding-top: 80px;
        
    }
    #sec04 .location_holder:nth-child(2) {
        top:138px;
        left: 68px
    }

    #sec04 .location_holder:nth-child(3) {
        left:inherit;
        top:280px;
        right:12px;
    }
}

@media (max-width:400px) {
    #locations_container {
        width:300px;
    }
    #sec04 .location_holder {
        width:228px;
        height: 120px;
        font-size:40px;
        padding-top: 80px;
        
    }
    #sec04 .location_holder:nth-child(2) {
        top:138px;
        left: 48px
    }

    #sec04 .location_holder:nth-child(3) {
        left:0;
        top:280px;
        right:inherit;
    }
}

