   /******************/
  /*   header.css   */
 /******************/

#header {
  position: relative;
  height: 100px;
  border: solid 1px;
  margin-bottom: 41px;
 }

nav {
  border: solid 1px;
  background-color: #DDD;
  width: 100%;
  position: absolute;
  top: 100%;
}

nav ul {
  display: table;
  text-align: center;
  margin: 0 auto;
}

nav li {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 15%;
  margin-right: -4px;
  height: 40px;
}

nav li {
  border-left: solid 1px;
}

nav li:nth-last-child(1) {
  border-right: solid 1px;
}

nav p, nav a {
  color: black;
  font-style: oblique;
  text-decoration: none;
}

nav li:hover {
  background-color: #FFF;
}

nav li:hover > #menu-dropdown, nav li:hover > #locations-dropdown {
  display: block;
  background-color: #FFF;
}

nav #menu-dropdown, nav #locations-dropdown {
  position: absolute;
  top: 100%;
  left: -50%;
  width: 200%;
  display: none;
  z-index: 3;
  background-color: #DDD;
  border: solid 1px;
}

nav .menu-button, nav .location {
  position: relative;
  min-height: 40px;
  vertical-align: middle;
  line-height: 40px;
}

nav .menu-button:hover, nav .location:hover {
  background-color: #DDD;
}

nav .menu-button:nth-child(even), nav .location:nth-child(even) {
  border-top: solid 1px;
  border-bottom: solid 1px;
}

nav .menu-button:nth-last-child(1), nav .location:nth-last-child(1) {
  border-bottom: none;
}

