/************ LOCATIONS FORMATTING ****************/
body {
    background-image:url('../images/ir_background_03_light.jpg');
    background-attachment: fixed;
    background-size:cover;
}
.push {clear:both;}
#wrapper {
    /*background-color:white;*/
    color:#555;
}
#location_name {
    margin: 0px .5% 12px;
    padding-top: 20px;
    font-family: 'Bitter', serif;
    font-size: 36px;
}
#store_picture {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 12px;
    border: 1px solid #555;

}
#map {
    width: 100%;
    height:400px;
    background-color: #CCC;
    margin-bottom: 12px;
}

#left_column {
    margin: 0 .5%;
    width:68%;
    float:left;
}

#left_column img {
    width:100%;
    height:100%;
    display:block;
}

#right_column {
    float:right;
    width:29%;
}

#store_manager_pic {
    display:block;
    width:75%;
    height:75%;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #555;
}
#store_manager_name {
    text-align:center;
    font-family:'Bitter',serif;
    font-size: 18px;
    margin: 6px 0;

}

#address_container {
    text-align: center;
    margin-bottom:12px;
    font-family:'Bitter',serif;
    font-size:14px;
}
#services_container h2 {
    font-family:'Bitter',serif;
    font-size:18px;
    text-align: center;
}
.location_service {
    /*border: 1px solid red;*/
    width:80%;
    display:block;
    margin:0 auto;
    margin-bottom: 12px;
    background-color:#00B2D0;
    padding:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:white;
}
.location_service_icon {
    float:left;
    margin-right:10px;
}
.location_service_icon img {
    height:100%;
    width:100%;
    display:block;
}
.location_service_title {
    font-size:20px;
    font-family:'Bitter',serif;
    margin-bottom:5px;
}
.location_service_description {
    font-family:'Open Sans',sans-serif;
}

@media (min-width:637px) and (max-width:909px) {
    .location_service {
        margin-bottom:5px;
    }
    .location_service_icon {
        height:32px;
        width:32px;
    }
    .location_service_title {
        font-size: 16px;
    }
}

@media (min-width:525px) and (max-width:637px) {
    #map {
        height:200px;
    }
    .location_service {
        margin-bottom:5px;
        width:90%;
    }
    .location_service_icon {
        height:28px;
        width:28px;
    }
    .location_service_title {
        font-size: 16px;
    }
    .location_service_description {
        display:none;
    }
}
@media (max-width:525px) {
    #location_name {
        text-align: center;
        font-size:28px;
    }
    #left_column, #right_column {
        float:none;
        width:90%;
        margin: 0 auto;
    }
    #map {
        height:200px;
    }
    .location_service {
        margin-bottom:5px;
        width:90%;
    }
    .location_service_icon {
        height:32px;
        width:32px;
    }
    .location_service_title {
        font-size: 16px;
    }
    .location_service_description {
        /*display:none;*/
    }

}