
/******************************************************************/
/******************************************************************/
/******************************************************************/
@media (min-width: 451px) and (max-width: 730px), only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape){

}

/******************************************************************/
/******************************************************************/
/******************************************************************/
@media (min-width: 321px) and (max-width: 450px){

}

/******************************************************************/
/******************************************************************/
/******************************************************************/
@media (max-width: 320px){

}