   /******************/
  /*    page.css    */
 /******************/

body {
    background-image:url('../images/ir_background_03_light.jpg');
    background-attachment: fixed;
    background-size:cover;
}

 #content {
  max-width: 1500px;
	margin: 0px auto;
  font-family:'Bitter',serif;
 }

hr {
	margin: 12px;
}

a {
	color: black;
}

a:hover {
	text-decoration: none;
}

 .spanlink {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	z-index: 2;	
}

 .text {
 	font-size: 14pt;
 }

#content img {
	background-color: transparent;
	border: solid 1px #00B2D0;
}

 .push {
 	clear: both;
 }

 .text ul {
	list-style: disc;
	list-style-position: inside;
	margin-left: 32px;
}

.text ol {
	list-style: upper-roman;
	list-style-position: inside;
	margin-left: 32px
}

.text em {
	font-style: italic;
}

.text strong {
	font-weight: bold;
}

.text blockquote {
	/*background: #F0F1F4;*/
	border-left: 7px solid #00B2D0;
	padding: 13px;
	font-size: 24px;
	margin: 20px 113px;
}
   #back-page-text  blockquote p{
	   color: #00B2D0;

   }

   @media (max-width: 500px) {
	   .text blockquote {
		   margin: 20px 50px;
	   }
   }
   /******************/
  /*     Main       */
 /******************/

#main {
	margin: 10px auto;
	width: 90%;
}

   /******************/
  /*     Post       */
 /******************/

#post {
	width: 100%;
/* 	border: solid 1px; */
	border-radius: 5px;
	overflow: hidden;
	background-color: #00B2D0;
	margin-top: 24px;
	color:white;
}

#post .title {
  font-family: 'Crafty Girls',serif;
	font-weight: bold;
	font-size: 36pt;
 	text-align: center;
	line-height: 125%;
}

#post .text {
	padding: 2%;
}

#post .meta {
	text-align: right;
}  

#post .attrImg {
	width: 30px;
	border: solid 1px black;
}

#post #map {
	width: 100%;
	height: 200px;
}

   /******************/
  /*   Food-Post    */
 /******************/

#food-post {
	background-color: white;
	border: solid 1px;
	border-radius: 10px;
	padding: 12px;
	margin: 24px 0px;
}
#food-post .title {
	font-size: 36pt;
  font-family: 'Crafty Girls',serif;
	font-weight: bold;
	line-height: 175%;
	text-align: center;
}

#food-post .post-thumbnail {
	text-align: center;
}

#food-post .text {
	font-size: 16pt;
	padding: 12px;
}

#food-post .all-meta {
	text-align: right;
}

   /******************/
   /*    Backpage    */
   /******************/
.back-page-title {
	font-family: 'Crafty Girls',serif;
	font-weight: bold;
	font-size: 36pt;
	text-align: center;
	line-height: 125%;
	background-color: #00B2D0;
	color:white;
	border-radius: 5px;
	margin-top:24px;
	margin-bottom:12px;
}

#back-page-text h1 {
	font-family:'Open Sans',sans-serif;
	font-size:36px;
	letter-spacing: 2px;
	line-height:200%;
	color:#555;
}

   #back-page-text h2 {
	   font-family:'Open Sans',sans-serif;
	   font-size:26px;
	   letter-spacing: 1px;
	   line-height:150%;

	   color:#555;
   }

   #back-page-text p {
	   color:#555;
	   line-height:125%;
	   margin-bottom: 12px;
   }

   #back-page-text .alignleft {
	   float:left;
   }


   /******************/
  /*    Menu-Nav    */
 /******************/

#menu-nav {
/* 	position: fixed;
	height: 0;
	width: 25%;
	top: 25%;
	right: 0; */
}

#pullout-button {
	position: fixed;
	bottom: 8%;
	left: 45%;
	width: 10%;
	display:none;
}

#pullout-button img {
	width: 100%;
	border: none;
	background-color: transparent;
}

#menu-buttons {
	/*display: none;*/
	padding: 10px;
	text-align: center;
	line-height: 150%;
}

.menu-nav-button {
	cursor:pointer;
}
   .menu-nav-button:hover {
	   background-color:#F3B604;
		 color:white;
   }

li.menu-nav-button {
	display:inline;
	padding:  5px;
	font-size:14px;
}

/* #menu-nav .menu-nav-button {
	border: solid 1px;
	background-color: aliceblue;
	padding: 6px;
	line-height: 150%; */


#menu-buttons .menu-nav-button:first-child {
/* 	border-top-left-radius: 10px;	 */
}

#menu-buttons .menu-nav-button:last-child {
/* 	border-bottom-left-radius: 10px;	 */
}

#menu-nav .menu-nav-button:hover {
/* 	background-color: #00B2D0; */
}

#menu-nav .button-text {
/* 	text-align: center;
	font-size: 16pt;
	position: relative;
  font-family: 'Crafty Girls',serif;
	font-weight: bold; */
}

   /******************/
  /*     List       */
 /******************/

#list-menu {
	border: solid 1px;
	border-radius: 5px;
	background-color: white;
	margin-top: 24px;
	width: 100%;
	float: right;
	color:#555;
}

#list-menu a {
	color:#555;
}

#list-menu .type {
	margin: 0 auto;
	padding: 12px;
}

#list-menu .type-header {
	text-align: center;
	width: 100%;
/* 	padding: 2%; */
	margin: 12px auto;
	border-top: solid 2px;
	border-bottom: solid 2px;
	background-color:#B8C92B;
	color:white;
	border-radius: 5px;
}

#list-menu .type-title {
	font-size: 30pt;
	line-height: 125%;
  font-family: 'Crafty Girls',serif;
	font-weight: bold;
}

#list-menu .type-description {
	font-size: 16pt;
	padding: 12px;
}

#list-menu .food-entry {
	border-radius: 5px;
	margin-top: 6px;
}

#list-menu .food-entry:hover {
	background-color: #00B2D0;
	color:white;
}
#list-menu .food-entry:hover a {
	color:white;
}

#list-menu .post-thumbnail {
	width: 10%;
	display: inline-block;
	text-align: center;
	padding: .5%;
	vertical-align: middle;
}

#list-menu .post-thumbnail img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	cursor:pointer;
}

#list-menu .text {
	width: 75%;
	padding: 1%;
	display: inline-block;
	vertical-align: middle;
}

#list-menu .title {
	font-size: 21pt;
	line-height: 125%;
}

#list-menu .the-excerpt {
	width: 100%;
	font-size: 14pt;
}

#list-menu .all-meta {
	text-align: right;
	font-size: 14pt;
	margin-top: 12px;
}

  /*************************************/
 /*           Media Queries           */
/*************************************/

@media (min-width: 550px) and (max-width: 801px) {	
	
	#menu-nav {
/* 		width: 30%; */
	}
	
	#list-menu .type-title {
		font-size: 30pt;
	}
	
	#list-menu .type-description {
		font-size: 14pt;
	}
	
	#list-menu .title {
		font-size: 24pt;
	}
	
	#list-menu .the-excerpt {
		font-size: 14pt;
	}
	
  #pullout-button {
		left: 42%;
	  width: 16%;
	}
}

/************************************/

@media (min-width: 300px) and (max-width: 549px) {
	#menu-nav {
/* 		width: 40%; */
	}
	
	#list-menu .post-thumbnail {
		width: 60%;
		display: block;
		margin: auto;
	}
	
	#list-menu .text {
		text-align: center;
		display: block;
		margin: auto;
		width: 95%;
	}
	
	#list-menu .type-title {
		font-size: 24pt;
		padding: 0 20px;
	}
	
	#list-menu .type-description {
		font-size: 14pt;
	}
	
	
  #pullout-button {
		left: 40%;
	  width: 20%;
	}
  
}

/************************************/

@media (max-width: 300px) {
	#menu-nav {
/* 		width: 50%; */
	}
	#list-menu .post-thumbnail {
		width: 60%;
		display: block;
		margin: auto;
	}
	
	#list-menu .text {
		text-align: center;
		display: block;
		margin: auto;
		width: 95%;
	}
	
	#list-menu .type-title {
		font-size: 24pt;
		padding: 0 20px;
	}
	
	#list-menu .type-description {
		font-size: 14pt;
	}
	
	#pullout-button {
		left: 35%;
	  width: 30%;
	}
  
}

/******************************************/
   /* page-catering css */
/******************************************/

	.obtain_type {
		border: 1px solid #B8C92B;
		margin-top: 20px;
		background-color: white;
		width: 31%;
		float:left;
		margin-left: 1%;
		margin-right: 1%;
		/*height: 100px;*/
	}
   #obtain_types .title_bar {
	   background-color: #B8C92B;
	   color: white;
	   padding-top: 10px;
	   padding-left: 10px;
	   height: 25px;
   }
   .obtain_description {
	   padding: 20px;
	   line-height: 125%;
   }
   #obtain_types .catering_image {
	   display:block;
	   margin: 10px auto;
	   border:none;
   }
   .catering_food_category {
	   border: 1px solid #B8C92B;
	   margin-top: 20px;
	   background-color: white;
   }

   .catering_food_category .title_bar {
	   background-color: #F3B604;
	   color: white;
	   padding-top: 10px;
	   padding-left: 10px;
	   height: 25px;
   }
   .catering_food_category h1 {
	   font-weight: bolder;
   }
   .catering_food_category .food_description {
	   padding: 10px;
	   line-height: 125%;
   }
   .catering_food_category .food_description a {
	   color: #B8C92B;
   }
   @media (max-width: 670px) {
	   .obtain_type {
		   margin-top: 20px;
		   background-color: white;
		   width: 100%;
		   float:none;
		   margin-left: .5%;
		   margin-right: .5%;
		   /*height: 100px;*/
	   }
	   #obtain_types .obtain_type .catering_image {
		   float:left;
		   height: 72px;width:auto;
		   margin: 10px 10px 0 10px;
	   }

   }