.smart-image-container {
    background-color:black;
    padding:20px;
    display:none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position:fixed;
}
.smart-full-image img{
    display:block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*height:100%;*/
    /*width:100%;*/
}
.smart-full-image-close {
    color:white;
    cursor:pointer;
    margin-top:15px;
    text-align: center;
}