#special_offer {
    background-color:#FFE805;
    border: 14px solid #00B2D0;
    padding: 20px;
    color:#555;
    display:none;
    position: relative;
}
#special_offer_image_container {
    float:left;
    margin-right:20px;
    width:300px;
    height:auto;

}
#special_offer_image {
    height:100%;
    width:100%;
    display:block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 3px solid #00B2D0;

}
#special_offer_title {
    font-family: 'Bitter',serif;
    font-size:42px;
    text-align: center;
    margin-bottom:15px;
    color:#00B2D0;
}
#special_offer_description {
    text-align: center;
    font-size: 32px;
    font-family: 'Open Sans',sans-serif;
    line-height: 125%;
}

#close_special_offer {
    position:absolute;
    top:3px;
    right:10px;
    cursor: pointer;
    font-family: 'Bitter',serif;
    color:#00B2D0;
}

@media (min-width:618px) and  (max-width:840px) {
    #special_offer_image_container {
        width:175px;
    }
    #special_offer_title {
        font-size:36px;
        margin-bottom:10px;
    }
    #special_offer_description {
        text-align: center;
        font-size: 24px;
        line-height: 100%;
    }
}

@media (max-width:618px) {
    #special_offer {
        padding: 10px 0;
        border-width: 5px;
    }
    #special_offer_image_container {
        float:none;
    }
    #special_offer_image_container {
        width:250px;
        margin: 11px auto 12px;
    }
    #special_offer_title {
        font-size:36px;
        margin-bottom:10px;
    }
    #special_offer_description {
        text-align: center;
        font-size: 24px;
        line-height: 100%;
    }

}

#full_image_container {
    background-color:black;
    padding:20px;
    display:none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position:fixed;
}
#full_image img{
    display:block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*height:100%;*/
    /*width:100%;*/
}
#full_image_close {
    color:white;
    cursor:pointer;
    margin-top:15px;
    text-align: center;
}